// Define variables for your color scheme

// For example:

$blue: #00a6fb;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #B81365;

// $light-gray: #F4F4F4;
$brown: #d5bdaf;
$light-brown: #e3d5ca;
$beige: #f5ebe0;
$light-gray: #edede9;
$red: #c1121f;
$gray: #2D3142;
