<div class="page-container" data-controller="refreshless">
  <div class="wishbar-container">
    <%= render "shared/wishbar-right", wishlists: @wishlists %>
  </div>
  <div class="planners-container">
    <%= render "plannerspart" %>
  </div>
</div>
