<div class="search" data-controller="loadingpage" >
  <%= render "shared/narrow-search" %>
  <div class="search-results">
    <div id="items">
      <% if @items.any? %>
        <div class="results-container">
          <% @items.each do |item| %>
            <%= render item, room: @room %>
          <% end %>
        </div>
      <% else %>
        <div class="d-flex justify-content-center mt-5">
          <em>No items found.</em>
        </div>
      <% end %>
    </div>
  </div>
</div>
