<div class="wishbar">
  <%= render "shared/status", wishlist: @wishlist, wishlists: @wishlists%>
  <div class="wishitems-container scrollbar"  id="style-4" data-searchpage-target="wishlistsubDisplay">
    <% if wishlists.any? %>
      <% wishlists.each do |wishlist| %>
        <%= render "shared/wishlistcard", wishlist: wishlist%>
      <% end %>
    <% else %>
      <em class="empty-wishlist-text p-3" data-searchpage-target ="statement">Add some items to your wishlist...</em>
    <% end %>
  </div>
</div>
