<div class="container">
  <div class="form-container">
    <h1>Choose a Room</h1>
    <%= simple_form_for(@room) do |f| %>
      <%= f.input :room_type, as: :select, collection: ROOM::ROOMS %>
      <input type="color" name=room[palette][]>
      <input type="color" name=room[palette][]>
      <input type="color" name=room[palette][]>
      <input type="color" name=room[palette][]>
      <input type="color" name=room[palette][]>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
