<html>
  <head>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <h1>Choose a Room</h1>
        <%= simple_form_for(@room) do |f| %>
          <%= f.input :room_type, as: :select, collection: Room::ROOMS %>
          <div id="color-inputs">
            <input type="color" name="room[palette][]" >
          </div>
          <button type="button" id="add-color">Add Color</button>
          <div class="buttonHolder">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Your custom script -->
    <script>
      $(document).ready(function() {
        var maxColors = 5;
        var colorInputs = $('#color-inputs');

        $('#add-color').click(function(e) {
          e.preventDefault();
          if (colorInputs.children().length < maxColors) {
            colorInputs.append('<input type="color" name="room[palette][]" >');
          }
        });
      });
    </script>
  </body>
</html>
