.description-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.description-container i {
  font-size: 32px;
  margin-bottom: 15px;
  color: black;
  // text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3)

}
.description-container h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.description-container p {
  text-align: justify;

}

.about-us {
  margin: 64px auto;
}
.about-us-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 18px;
}
.about-us-text {
  text-align: justify;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .description-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .description-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .description-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .description-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .description-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
