.narrow-search {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 8px;
  flex-wrap: wrap;
  // height: 100px;
}
.search-input {
  width: 300px;
  background-color: white;
}
.room-type-menu label, .price-range-menu label {
  display: block;
  padding: 8px 12px;
}
.room-type-menu label:hover, .price-range-menu label:hover {
  background-color: $light-brown;
}
.price-range-menu {
  min-width: 135px;
}
.palette-container {
  height: 37.6px;
  gap: 2px;
}
#colorpicker {
  border: none;
  height: 100%;
  width: 37.6px;
  padding: 0;
}

.dimensions-menu {
  padding: 8px 12px;
}
