.narrow-search {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 8px 8px;
  background-color: $light-brown;
}
.searchbar {
  position: sticky;
  top: 64px;
  z-index: 10;
}
.search-input {
  max-width: 250px;
  background-color: white;
  border: none;
}
.search-button {
  color: white
}
.room-type-menu label, .price-range-menu label {
  display: block;
  padding: 8px 12px;
}
.room-type-menu input:checked + label {
  background-color: $light-brown;
}
.room-type-menu label:hover, .price-range-menu label:hover {
  background-color: $light-brown;
}
.price-range-menu {
  min-width: 135px;
}
.price-range-menu input:checked + label, .price-range-menu input:checked + label {
  background-color: $light-brown;
}
.palette-container input  {
  height: 37.6px;
  padding: 0;
  border: none;
}
.room-color{
  border: none;
  height: 100%;
  width: 37.6px;
  padding: 0;
}
.narrowbar {
  display: flex;
  border-radius: 4px;
}
.narrowbar * {
  border-radius: 0;
}
.narrowbar div:first-child button {
  border-radius: 4px 0 0 4px;
}
.narrowbar input:last-child {
  border-radius: 0 4px 4px 0;
}
.narrowbar:focus-within {
  box-shadow: 0 0 0 2px rgba(0, 146, 255, .3), 0 0 0 3px rgba(11, 65, 137, 0.2);

}
.search-input:focus {
  box-shadow: none;
  border: none;
}

.dimensions-menu {
  padding: 8px 12px;
}
.dimensions-menu input {
    accent-color: $gray;
}
.reset-button {
  border-radius: 4px;
}
.reset-button:hover {
  color: black;
}
.inline-text {
  background-color: $brown;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}
