.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  background-color: $brown;
  color: $light-gray;
  z-index: 100;
  // margin-bottom: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

#navbarSupportedContent {
  position: absolute;
  top: 60px;
  right: 25px;
  background-color: $light-gray;
  color: $gray;
  padding: 8px;
  border-radius: 4px;
  line-height: 32px;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
}

.dropdown-item {
  padding: 4px;
  &:hover {
      background-color: $light-brown;
    }
}

.brand-title {
  font-family: "Gochi Hand", cursive;
}

.navbar-toggler {
  background-color: $brown;
  border: none;
}
