.color-wrapper {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttonHolder {
  text-align: center;
}

.color-item {
  width: 200px;
  margin: 20px;
}

.color-selector {
  position: absolute;
  transform: scale(0);
}

.color-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px 50px 30px;
  overflow: hidden;
}

.color-selector:checked + label {
  color: gray !important;
  border: 2px solid rgb(255, 255, 255);
}
