.color-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttonHolder {
  text-align: center;
}

.color-item {
  flex: 0 0 30%;
}

.color-selector {
  position: absolute;
  transform: scale(0);
}

.color-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  color: rgb(255, 255, 255);
}

.color-selector:checked + label {
  color: gray !important;
  border: 2px solid rgb(255, 255, 255);
}
