.color-wrapper {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttonHolder {
  text-align: center;
}

.color-selector {
  position: absolute;
  transform: scale(0);
}

.color-selector + label {
  // display: block;
  cursor: pointer;
  // box-sizing: border-box;
  width: 38px;
  height: 38px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.color-selector:checked + label {
  color: gray !important;
  border: 2px solid rgb(255, 255, 255);
}
