.scheme-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  // padding: 10px;
  justify-items: center;
  // margin-bottom: 20px;
  margin-top: 0px;
}
.favoritecolor{
  width:100%;
  height: 40px;
  margin-top: 0px;
  border: none;
  appearance: none;
}
.favoritecolor-card{
  background-color: rgba(255, 255, 255, 0.1);
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  width: 100%;
  border: 0px;
  border-radius: 5px;
  padding: 26px 32px;
  // margin: 5px;
  // margin-bottom: 20px;
  margin-bottom: 64px;
  // height:40px;
  p{
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 22px;
  }
}
.scheme-card {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  // height: 100px;
  min-width: 300px;
  border: 0px;
  border-radius: 5px;
  padding: 8px 12px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  h5 {
    padding-bottom: 0px;
    font-size: 18px;
  }
}
.scheme-card:nth-child(3), .scheme-card:nth-child(4) {
  margin-bottom: 34px;
}
.schemetitle {
  padding-bottom: 6px;
  font-weight: bold;
  font-size: 22px;
  margin-top: 12px;
  p {
    margin-bottom: 0;
  }
}

.colorpicker{
  border: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 0px;
  margin: 0px;
  width: 20%;
  height:40px;
}
.btnColor{
  width:100%;
  appearance: none;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  &:hover{
    border: 1px solid rgb(90, 173, 245);
  }

}
.scheme-card.clicked {
  background-color: rgba(255, 255, 255, 0.7);
  // border: 1px solid rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.design-your-room-btn {
  display: flex;
  justify-content: center;
}
.design-your-room-btn input {
  width: 100%;
  align-self: center;
  height: 50px;

}

.new-room-form-container {
  margin: auto;
  margin-top: 64px;
  // width: 75%;
}
.new-room-form-container h2 {
  margin-bottom: 24px;
}
