.results-container {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 16px;
 padding: 12px;
}
.result {
  display: flex;
  width: 500px;
  background-color: $beige;
  border-radius: 15px;
  border: 8px $brown;
  border-style: outset;
  box-shadow: 5px 5px 5px 5px gray;
}
.result p {
  margin: 0;
}
.result-photo {
  width: 150px;
  height: 100%;
  background-size: cover;
  background-position: center;
  align-self: center;
  border-right: 1px solid black;
  border-radius: 15px 0px 0px 15px;
}
.result-details {
  flex-grow: 1;
  padding: 12px 12px;
}
.add-to-wishlist-button {
  align-self: flex-start;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  padding: 0;
  color: red;
  font-size: 24px;
  position: relative;
  top: 0;
  transition: top;
    &:hover {
      color: darkred;
      font-size: 28px;
      top: -2px;
    }
    &:disabled {
  color: gray;
    }
}
