.page-container {
  display: flex;
  flex-direction: row;
}

.wishbar-container {
  width: 30%;
  flex-direction: column;
  margin-top: 64px;
  border-right: 4px solid $brown;
}

.search-results-container {
  width: 70%;
}
.planners-container {
  width: 70%;
}
