<div class="card-container">
  <% if wishlists.any? %>
    <% wishlists.each do |wishlist| %>
      <div class="result">
        <div class="result-photo" style="background-image: url('<%= wishlist.item.photo %>');">
        </div>
        <div class="result-details">
          <h3><%= wishlist.item.name %></h3>
          <p>¥ <%= wishlist.item.price %></p>
        </div>
        <a class="remove-from-wishlist-button"><i class="fa-solid fa-minus"></i></a>
        <% if current_page?(room_planners_path) %>
          <h5>i am at planner page</h5>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <em>Add some items to your wishlist...</em>
  <% end %>
</div>
