<div class="page-container">
  <div class="search-results-container">
    <%= render "shared/search-results" %>
  </div>
  <div class="wishbar-container">
    <%= render "shared/wishbar-right", wishlists: @wishlists %>
  </div>
</div>
