<% content_for :meta_title, "FRNSHR - Search results" %>
<div class="page-container" data-controller="loadingpage searchpage">
  <%= render "shared/loading-search-page" if params[:searching] %>
  <div class="search-results-container">
    <%= render "shared/search-results" %>
  </div>
  <div class="wishbar-container">
    <%= render "shared/wishbar-right", wishlists: @wishlists %>
  </div>
</div>
