<div class="page-container">
  <%# DONT REMOVE %>
  <%# <div class="wishbar-container">
    <%= render "wishbar", wishlists: @wishlists %>
  <%# </div>  %>
  <div class="search-results-container">
    <%= render "shared/search-results" %>
  </div>
  <div class="testwishbar-container">
    <%= render "shared/testwishbar", wishlists: @wishlists %>
  </div>
  <!-- DONT REMOVE -->
</div>
